.navbar{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    margin-right: 20px;
}
.list-links{
    display: flex;
    list-style-type: none;
    width: 200px;
    justify-content: space-between;
}
ul li a{    //setting decoration of links to custom in ul-list item anchor tag
    text-decoration: none;
    padding: 10px;
}
.active{
    background-color: pink;
}
