<nav class="navbar">
    <h1>header works!</h1>
    <!-- inside this router-outlest you will see your pages, add links using routerLink prop not href -->
    <ul class="list-links">
        <li>
            <!-- <a routerLink="/home">home</a> router link active will also create active class in css
             now home path matches for all, so use routerLinkActiveOptions to match exact path-->
            <a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}" >home</a>
        </li>
        <li>
            <!-- here the link should be a slash & the name you configured in app.routes.ts, 
         clicking on link will open the component, it is must to add router-outlet tag 
         here active is the class name for router link active to apply css to it-->
            <a routerLinkActive="active" routerLink="/login">login</a>
        </li>
        <li>
            <!-- route link active in .ts fille will apply specific props to active route-->
            <a routerLinkActive="active" routerLink="/contact">contact</a>
        </li>
        <li>
            <a routerLinkActive="active" routerLink="/about">about</a>
        </li>
    </ul>
</nav>