<h2>to-do-list works!</h2>
<!-- binding the input in placeholder & using submit to add to list -->
<input [(ngModel)]="taskEntry" 
(keydown.enter)="addToList($event)"
type="text" placeholder="enter a task"/>
<!-- (keydown.enter) listens for the Enter key press event on the input. -->

<!-- avoid type = submit if not using a form) -->
<button (click)="addToList($event)" type="button">add to list</button>

<h2>To Do List</h2>

    @for(item of todoList; track $index){
        <ul class="task-list">
            <li>{{item.id}}</li>
            <li>{{item.task}}</li>
            <!-- in parantheses interpolation is not needed, cannot use $index here as it varies, use constant  -->
            <li><button (click)="deleteItem(item.id)">delete</button></li>
        </ul>
    } @empty {
        <h1>WOW ! Such empty ૮(˶ㅠ︿ㅠ)ა !</h1>
    }
