<h1>Parent Component</h1>
<button type="button" (click)="increaseCounter()">update counter for app-pipes-in-ng, Count: {{counter}}</button>
<div *ngIf="counter>5 && counter <10">
  <app-pipes-in-ng [counter]="counter"></app-pipes-in-ng>
</div>





<!-- 
<h3>resuing app-reusing child component properties in parent component</h3>
<app-reusing (getUsersFromParent)="reuseUsers($event)"></app-reusing>

sending user data from parent to child & make user enclosed in [] so it is taken as property from .ts not a string
 1 just sending string = <app-pass-data-from-parent-to-child user="Anil Sharma"></app-pass-data-from-parent-to-child>
 2 sending from app.ts file = <app-pass-data-from-parent-to-child [user]="title"></app-pass-data-from-parent-to-child>
 to pass data from html components do like below:
 <app-pass-data-from-parent-to-child [user]="selectedUser.value"></app-pass-data-from-parent-to-child>
<select #selectedUser (change)="onSelectUser(selectedUser.value)" >
    <option value="user1">user1</option>
    <option value="user2">user2</option>
    <option value="user3">user3</option>
    <option value="user4">user4</option>
</select>

Sending multiple data
  -->
<!-- 
 
 <app-template-driven-forms></app-template-driven-forms>
 <app-reactive-form-grouping></app-reactive-form-grouping>
 <app-basic-reactive-forms></app-basic-reactive-forms>
 <app-routing-in-ng></app-routing-in-ng>
 <app-directives-in-ng></app-directives-in-ng>
 <app-dynamic-styling></app-dynamic-styling>
 <app-to-do-list></app-to-do-list>
 <app-two-way-binding-in-ng></app-two-way-binding-in-ng>
 <app-for-loop-in-ng></app-for-loop-in-ng>
 <app-effects-in-ng></app-effects-in-ng>
 <app-signals-in-ng></app-signals-in-ng>
 <app-ifelse-in-ng></app-ifelse-in-ng>
 <app-counter></app-counter>
 <app-inputs-in-ng></app-inputs-in-ng>

<h1>{{title}}</h1>
<h1>{{name}}</h1>
<p>hello</p>
<h1>{{user1==user2}}</h1>
<h2>{{"Hello".toUpperCase()}}</h2>
<h2>{{user1.toUpperCase()}}</h2>

<app-login></app-login>
<app-profile></app-profile>
<app-datatypes></app-datatypes> 
-->