<p>signals-in-ng works!</p>
<h1>{{count()}}</h1>
<h1>{{x}}</h1>

<button (click)="updateValue()">increase property</button>
<button (click)="updateValue()">increase signal</button>
<button (click)="count.set(count()+1)">increase</button>
<button (click)="count.set(count()-1)">decrease</button>
<hr>
<p>types of signals</p>
<h1>{{msg()}}</h1>
<h1>{{msg2()}}</h1>
<h1>{{msg3()}}</h1>
<button (click)="updateValue()">change signal</button>

<h1>computed signals</h1>
<button (click)="showValue()">Show Value</button>