<h1>template-driven-forms & validation</h1>
<!-- in template driven forms we put validations in html unlike reactive forms -->

<!-- its good practice to define name of you form, need to import forms module
    Part           | Meaning
FormsModule        | You must import FormsModule (in app.module.ts) to use template-driven forms (like ngForm) in Angular.
<form>             | Standard HTML <form> element.
#userForm="ngForm" | This creates a template reference variable called userForm, and binds it to Angular’s NgForm directive.
                     userForm now holds the entire form state (validity, values, touched/untouched, dirty/pristine, etc.)
(ngSubmit)="addDetails(userForm.value)" | When the user submits the form, Angular will call your addDetails() function, and pass the form’s values (as an object).
-->
<form #userForm = "ngForm" (ngSubmit)="addDetails(userForm.value)">
    <!-- every field must have ngModel to be available in .ts NgForm object -->
    <input #name="ngModel" type="text" required placeholder="enter name" name="name" ngModel>
    <!-- to add invalid property add to above #name="ngModel" -->
    <span class="error"  *ngIf="name.invalid" >name is required</span>
    <br><br>
    <!-- once this is touched & invalid then throw message -->
    <input #password="ngModel" minlength="5" maxlength="20" type="password" type="text" required placeholder="enter password" name="password" ngModel>
    <span class="error"  *ngIf="password.invalid && password.touched" >passowrd should be valid</span>
    <br><br>
    <!-- this email property will add email validaiton -->
    <input #email="ngModel" minlength="5" maxlength="200" email type="text" required placeholder="enter email" name="email" ngModel>
    <span class="error"  *ngIf="email.invalid && email.touched" >email should be valid</span>
    <br><br>
    <input #address="ngModel" pattern="[A-Za-z0-9\s]+" type="text" placeholder="enter address" name="address" ngModel>
    <span class="error" *ngIf="address.invalid && address.touched" >address should be valid</span>
    <br><br>
    <select #gender="ngModel" required name="gender" ngModel>
        <option value="">Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>
        <option value="not_specified">Prefer Not Say</option>
    </select>
    <span class="error" *ngIf="gender.invalid && gender.touched">select something</span>
    <br><br>
    <input type="range" min="0" max="20" name="range" ngModel>
    <br><br>
    <!-- By default, <button> without type="submit" behaves weirdly sometimes. Better to be safe
        adding validation if any of the one field is invalid, remove the button
        take [disabled] in sq braces if form is invalid, remeber name of form was set to #userForm-->
    <button [disabled]="userForm.invalid">Add User</button>
</form>

<!-- ye kaam karega, but thoda handle karna padega ki form submit hone ke pehle userDetails undefined hota hai.
Isliye Angular throw error karega ki userDetails.name is undefined. 
Jab tak userDetails exist nahi karta, kuch bhi nahi dikhega.
Jaise hi form submit hoga aur data aayega, name print ho jayega.

?. ka matlab — safe navigation operator, agar userDetails undefined hai to error nahi aayega.-->
<h2 *ngIf="userDetails?.name">{{userDetails.name}}</h2>
<h2>{{userDetails?.password}}</h2>
<h2>{{userDetails?.quote}}</h2>
<h2>{{userDetails?.range}}</h2>