<p>home works!</p>
<!-- to pass data across components you need to do binding as below on routerLink &
  path within '' as its a string, then object which you want to send as path params 
  M1 of passing data, we need to get this data in profile page -->
  <a [routerLink]="['/profile',{name:'anil kumar'}]">go to profile page</a>
<br>
  <!-- m2 of passing variables -->
 <button (click)="goToProfile()" >go to profile page</button>

 <h1>user list</h1>
<!-- example of dynamic router links will take to users page with username in url -->
<ul>
  @for (user of users; track user.id) {
    <li>
      <a routerLink="user/{{user.id}}/{{user.name}}">{{user.name}}</a>
      <!-- now add the path to router & make it dynamic, will take to user page -->
    </li>
  }
 </ul>